<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Plan editorial</h1>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6">
            <h5>Calendario orientativo de publicaciones, sujeto a posibles modificaciones por parte de las editoriales.
            </h5>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 enero-pe">
            <h4>ENERO</h4>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 febrero-pe">
            <h4>FEBRERO</h4>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 marzo-pe">
            <h4>MARZO</h4>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6  abril-pe">
            <h4>ABRIL</h4>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li> A</li>
                </ul>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

</div>