.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente en la página */
  }
  
  h2 {
    padding: 0px 0px 20px 0px;
  }
  form {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #f9f9f9; /* Color de fondo */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1A191B; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  button[type="submit"]:hover {
    background-color: #1a191bc6; /* Cambio de color al pasar el ratón */
  }
  
  p {
    margin-top: -10px;
    color: red;
    font-size: 12px;
  }