<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1> Política de Privacidad</h1>
        </div>
        <div class="col-12">
            <p>Última actualización: [Fecha]</p>
            <p>Nova Manga se compromete a proteger y respetar tu privacidad. Esta política de privacidad describe cómo
            recopilamos, usamos y protegemos la información personal que nos proporcionas cuando utilizas nuestra
            plataforma digital.</p>
        </div>
        <div class="col-md-12">
            <h2>Información que recopilamos</h2>
            <p>Recopilamos y procesamos la siguiente información personal:
                Información de contacto, como nombre, dirección de correo electrónico y número de teléfono.
                Información de registro, como nombre de usuario y contraseña.
                Datos de navegación, como dirección IP, tipo de navegador, páginas visitadas y tiempo de permanencia en
                nuestro sitio web.</p>
        </div>
        <div class="col-12">
            <h2>Uso de la Información</h2>
            <p>Utilizamos la información personal recopilada para los siguientes fines:
                Proporcionar acceso a nuestros servicios y contenido digital.
                Personalizar tu experiencia en nuestro sitio web y mejorar nuestros servicios.
                Cumplir con nuestras obligaciones legales y regulatorias. </p>
        </div>
        <div class="col-12">
            <h2>Compartir Información</h2>
            <p>No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en las siguientes
                circunstancias:
                Cuando estemos obligados por ley a divulgar información personal.
                Cuando sea necesario para proteger nuestros derechos, propiedad o seguridad, o los derechos, propiedad o
                seguridad de otros usuarios.
                Con tu consentimiento explícito</p>
        </div>
        <div class="col-md-12">
            <h2>Seguridad de la Información</h2>
            <p>Implementamos medidas de seguridad adecuadas para proteger tu información personal contra el acceso no
            autorizado, la alteración, la divulgación o la destrucción. Sin embargo, debes tener en cuenta que ninguna
            transmisión de datos por internet o almacenamiento electrónico es completamente segura y no podemos
            garantizar la seguridad absoluta de tus datos.</p>
        </div>
        <div class="col-md-12">
            <h2>Cambios en la Política de Privacidad</h2>
            <p>Nos reservamos el derecho de actualizar o modificar esta política de privacidad en cualquier momento. Te
            recomendamos que revises esta página periódicamente para estar al tanto de cualquier cambio. La fecha de la
            última actualización se indica al principio de este documento.</p>
        </div>
        <div class="col-12">
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta, inquietud o comentario sobre nuestra política de privacidad, no dudes en
            contactarnos a través de [correo electrónico de contacto].</p>
        </div>

    </div>
</div>