<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 titulo-jumbotron">FRIEREN</h1>
        <div class="content-overlay">
            <p class="lead">
                ¡Acompaña a Frieren, una elfa que desafía el tiempo con su eterna juventud! Mientras sus compañeros
                envejecen y mueren, ella lucha por aferrarse a los preciosos momentos compartidos. ¿Podrá encontrar la
                manera de detener el inexorable paso del tiempo?</p>
            <a class="btn btn-lg" href="#" role="button">Ver colección</a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 destacados-div">
            <h4 id="destacados"><a href="#">Solanin</a> | <a href="#"> El chico y el perro </a> | <a href="#"> Look Back
                </a> | <a href="#">Los dioses mienten</a></h4>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row align-items-center justify-content-center" id="gBless-color">
        <div class="col-6" id="gBless-text">
            <h2> God Bless The Mistaken </h2>
            <p>¡Prepárate para sumergirte en el mundo de Kon, un estudiante de secundaria rodeado <br>de fenómenos
                extraordinarios llamados "insectos"! Junto a su casera Kasane, una <br>investigadora de renombre,
                exploran los efectos y misterios de estas anomalías. <br>¿Qué aventuras les depararán estos curiosos
                sucesos? <br>¡Descúbrelo en esta emocionante y divertida historia donde cada día es una nueva sorpresa!
            </p>
            <a class="btn btn-lg" href="#" role="button"> Leer más </a>
        </div>
        <div class="col-6">
            <img id="gBless-card" src="../../../assets/img/c.jpg">
        </div>
    </div>
    <div class="row primavera">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="text-center" id="primavera-text">
                <h2>Un extraño en primavera</h2>
                <p>¡Prepárate para reír y emocionarte con <br>la historia de Shun y Mio, quienes <br>regresan a la casa de la
                    peculiar <br>familia Hashimoto después de años de<br> distancia! </p>
                <a class="btn btn-lg" href="#" role="button">Leer más</a>
            </div>
        </div>
    </div>


</div>