<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">LIMBO</h1>
        <p class="lead">Ves de aventura con Aurora para conseguir las esencias del alma.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Ver colección</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p><a href="#">Solanin</a> | <a href="#"> El chico y el perro </a> | <a href="#"> Look Back </a> | <a href="#">Los dioses mienten</a></p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2> TAKOPI </h2>
            <p>Takopi ha aterrizado en la Tierra, proveniente del planeta Happy, con la misión de esparcir la felicidad. Aquí recibe la ayuda de una niña terrícola, Shizuka, y el pequeño alienígena se compromete a devolverle el favor poniendo una sonrisa en su rostro.</p>
            <button> Leer más </button>
        </div>
        <div class="col-6">
            <img src="#">
        </div>
        <div class="col-12">
            <h2>Mi amigo capricornio</h2>
            <p>Una noche, Yûya Matsuda se topa con su compañero de curso Naoto Wakatsuki, que acaba de cometer un asesinato. Wakatsuki, agobiado por el horrible acoso escolar al que es sometido, acaba matando a su maltratador.</p>
            <button>Leer más</button>
        </div>
    </div>
    </div>