.container-fluid {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin: 40px 0px 60px 0px;
    font-weight: 800;
  }
  
.btn {
    margin: 100px 0px 20px 20px;
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
}

body {
    background-color: #fdfdfd;
}

a {
    text-decoration: none;
}