<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Añadir Libro</h1>
            <form>
                <div class="row">
                    <div class="col-4">
                        <label for="isbn" class="form-label">ISBN</label>
                        <input type="text" class="form-control" id="isbn">
                    </div>
                    <div class="col-4">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="col-4">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="precio">
                    </div>
                    <div class="col-12">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" rows="3"></textarea>
                    </div>
                    <div class="col-4">
                        <label for="tamanyo" class="form-label">Tamaño</label>
                        <input type="text" class="form-control" id="tamanyo">
                    </div>
                    <div class="col-4">
                        <label for="paginas" class="form-label">Páginas</label>
                        <input type="number" class="form-control" id="paginas">
                    </div>
                    <div class="col-4">
                        <label for="fechaVenta" class="form-label">Fecha de Venta</label>
                        <input type="date" class="form-control" id="fechaVenta">
                    </div>
                    <div class="col-4">
                        <label for="editorialId" class="form-label">Editorial ID</label>
                        <input type="number" class="form-control" id="editorialId">
                    </div>
                    <div class="col-4">
                        <label for="autorId" class="form-label">Autor ID</label>
                        <input type="text" class="form-control" id="autorId">
                    </div>
                    <div class="col-4">
                        <label for="portada" class="form-label">Elija la portada</label>
                        <input class="form-control" type="file" id="portada">
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-dark btn-add">Añadir Libro</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>