<main class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1><a routerLink="/panel" routerLinkActive="active">Panel Administrativo</a> > Administrar
                Libros</h1>
        </div>
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Nombre</th>
                                <th>Autor</th>
                                <th>Editorial</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>978-8-419-29002-1</td>
                            <td>Cien años de soledad</td>
                            <td>George Orwell</td>
                            <td>Seix Barral</td>
                            <td>(iconos)</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a routerLink="/panel" routerLinkActive="active">
                        <button class="btn btn-outline-dark btn-volver">Volver</button>
                    </a>
                </div>
                <div class="col-6">
                    <a routerLink="/add-libro" routerLinkActive="active">
                        <button class="btn btn-dark btn-add">Añadir Libro</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</main>