<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Novedades</h1>
        </div>
        <div class="col-3"></div>
        <div class="col-2"></div>
        <div class="col-7">
            <h2 id="mes-novedad"> {{ fechaActual }} </h2>
        </div>
        <div class="col-3"></div>
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card-check d-flex">

                @for (libro of novedades; track libro){
                <div class="card mr-3 flex-fill card-novedad">
                    <img class="card-img-top" src="{{libro.portada}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.nombre }}</h5>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted">{{ libro.precio }}</p>
                    </div>
                </div>
            }
                
        </div>
        
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <h1> Recomendaciones </h1>
        </div>
        <div class="col-3"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3 amd" style="height: 600px;">
                        <img class="card-img-top" src="../../../assets/img/mansion-decagonal.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Los Asesinatos de la Mansión Decagonal</h5>
                            <p class="card-text">¡Prepárate para un misterio escalofriante en la isla Tsunojima! Cuando siete estudiantes se aventuran para resolver un brutal asesinato, descubren que no están solos... </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="card bb" style="height: 200px;">
                                <img  class="card-img-top" src="../../../assets/img/bestiario-bruja.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">El bestiario de la bruja</h5>
                                    <p class="card-text">¡Aysha puede obrar milagros con su sangre y pintura, pero ten cuidado! Los deseos codiciosos convierten sus creaciones en criaturas espeluznantes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card sv" style="height: 200px;">
                                <img  class="card-img-top" src="../../../assets/img/koe-no-katachi.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">A Silent Voice</h5>
                                    <p class="card-text">"Desearía no habernos conocido nunca. Desearía poder encontrarnos de nuevo."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>