<footer class="container-fluid">
    <div class="row">
        <div class="col-2 logo">
            <img src="../../../assets/logo/logoBlanco.png">
        </div>
        <div class="col-1"></div>
        <div class="col-2 text-center redes">
            <h5>Contácta con nosotros</h5>
            <div >
                <a href="#" class="social-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#CFBEC8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-brand-instagram">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M16.5 7.5l0 .01" />
                    </svg>
                    
                </a>
                <a href="#" class="social-icon">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="35"  height="35"  viewBox="0 0 24 24"  fill="none"  stroke="#CFBEC8"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
                    
                </a>

                <a href="#" class="social-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#CFBEC8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" />
                        <path d="M10 9l5 3l-5 3z" />
                    </svg>
                   
                </a>

                <a href="mailto:novamanga@info.es" class="social-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#CFBEC8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                        <path d="M3 7l9 6l9 -6" />
                    </svg>
                   
                </a>
            </div>
            <div class="contacto">
                <p> &commat;novamanga | novamanga&commat;info.es</p>
            </div>

        </div>
        <div class="col-1"></div>
        <div class="col-2 p-interes" style="text-align: center;">
            <h5> Páginas de Interés </h5>
            <ul>
                <li> <a routerLink="sobre-nosotros" routerLinkActive="active"> Sobre Nosotros </a></li>
                <li> <a routerLink="politica-privacidad" routerLinkActive="active"> Política de Privacidad </a></li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-3 mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6333151.908128806!2d-4.384323427600389!3d39.18928315813878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498665b98d74b%3A0x480cb11c8ec2ea2!2sPlaneta%20C%C3%B3mic!5e0!3m2!1ses!2ses!4v1711886043267!5m2!1ses!2ses"
                width="380" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="row copy">
        <div class="col-12 mt-3">
            <p>© Copyright 2024. All Rights Reserved Nova Manga.</p>
        </div>
    </div>
</footer>